
a:hover, .navbar-brand a:hover {
	text-decoration: none;
	font-weight: 500;
	color: #00cc92 !important;
}

a:focus {
	text-decoration: none !important;
}

ul.tags {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 0;
}
ul.tags li {
	display: inline;
	margin: 0 10px;
}

.text-center ul {
	list-style: none;
}

.navbar .navbar-transparent {
	background-color: rgba(0,0,0, 0.5);
}

.btn-primary:hover {
	background-color: #00cc92 !important;
}

.landing-lead > a {
	color: #0abeff;
	font-weight: 500;
}
.landing-lead > a:hover, .feature-info > a:hover i {
	color: #00cc92 !important;
	font-weight: 500;
}

.nav li a {
	text-align: center;
	color: white !important;
	font-weight: 600;
}

.profile-lead {
	margin-top: -30px;
}

a.btn-primary:hover {
	color: white !important;
}

a.btn-danger:hover {
	color: white !important;
}

.description, .info p, .luke-info p, .summary, .lead {
	color: #000a33;
}

.img-small {
	max-width: 150px;
	margin: auto;
}
.feature-info {
	padding-top: 0px;
	display: flex;
	flex-direction: column;
}
.info-title {
	margin-top: 15px !important;
}

.feature-info > a:hover {
	font-weight: inherit !important;
	color: inherit !important;
}

.feature-info > a:hover h4 {
	font-size: 3em;
}
.feature-info > a:hover img {
	box-shadow: 0 16px 38px -12px rgba(0, 204, 146, 0.56), 0 4px 25px 0 rgba(0, 204, 146, 0.12), 0 8px 10px -5px rgba(0, 204, 146, 0.2);
}

.section-post {
	margin-top: -40px;
}

h1, h2, h3, h5, h6, p, div, nav, a {
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
	max-height: 380px;
}
