body {
	background-color: #262626;
	color: white;
}
a {
	color: #00BFFF;
}
a:hover {
	color :#00c957;
}
hr {
	color: white;
}
h2, h3, h4, h5 {
	font-weight: 200;
}
h2.title {
	margin-top: 5px;
}
h6.date {
	text-align: right;
}
.jumbotron {
	background-color: #262626;
}
.navbar > .container .navbar-brand {
	color: #002b54;
	font-weight: 600;
}
.navbar-default .navbar-nav > li > a {
	color: #002b54;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #00BFFF;
}