{% extends 'base.html' %}

{% block title %}Contact Luke{% endblock %}
{% block bodystyle %}class="profile-page"{% endblock %}
{% load staticfiles %}

{% block content %}
<div class="header header-filter" style="background-image: url('https://images.unsplash.com/photo-1444841461048-410031d44215?dpr=2&auto=format&fit=crop&w=1500&h=993&q=80&cs=tinysrgb&crop=');"></div>
<div class="main main-raised">
	<div class="container">
		<div class="section section-landing">
		{% if messages %}
			{% for message in messages %}
			<div class="row">
				<div class="alert alert-{{ message.tags }}" style="margin-right: 20px;">
					{{ message }}
				</div>
			</div>
			{% endfor %}
		{% endif %}
			<h1 class="title text-center">Get in touch with me!</h1>
			<form role="form" class="form" method="POST" action="/contact/">
				{% csrf_token %}
				<div class="col-sm-6">
					<div class="form-group label-floating">
						<label class="control-label">Your Name</label>
						{{ form.contact_name }}
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group label-floating">
						<label class="control-label">Email Address</label>
						{{ form.contact_email }}
					</div>
				</div>
				<div class="col-sm-12">
					<div class="form-group label-floating">
						<label class="control-label">Your Message</label>
						{{ form.content }}
					</div>
				</div>
				<div class="text-center">
					<button class="btn btn-primary btn-lg" type="submit" name="submit">Send!</button>
				</div>
			</form>
		</div>
		<h5 class="small text-center">Afraid of web forms? I am too, sometimes. I promise mine works, but you can email me directly at <a href="mailto:luke@higgott.com">luke@higgott.com</a> instead, if you want.</h5>
	</div>
</div>
{% endblock %}