{% extends 'base.html' %}

{% block title %}Luke Higgott{% endblock %}
{% block bodyclass %}landing-page{% endblock %}
{% load staticfiles %}

{% block pageheader %}

<div class="page-header" data-parallax="true" style="background-image: url('{% static 'img/ultraviolet.jpg' %}');">
	<div class="sun-over-area">
		<div class="sun" style="background-image: url('{% static 'img/sun.svg' %}')"></div>
	</div>
	<div class="filter"></div>
	<div class="content-center">
		<div class="container">
			<div class="motto">
				<h1 class="title">Hey, I'm Luke</h1>
				<h3 class="description">I'm a web application developer based in Orange County, California.</h3>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
<footer class="footer footer-transparent-custom">
	<div class="container">
		<span class="text-white">&copy; 2018 Luke Higgott</span>
	</div>
</footer>
{% endblock %}
