{% extends 'base.html' %}

{% block title %}Luke's Projects{% endblock %}
{% block content %}
<h1>My Projects</h1>
<p class="lead">Here's what I'm working on.</p>

{% for project in projects %}
<div class="row">
  <div class="col-md-6 col-sm-12"><h2 class="title"><a href="/projects/{{ project.dash_name }}/">{{ project.title }} &raquo;</a></h2></div>
  <div class="col-md-6 col-sm-12"><h6 class="float-md-right date">{{ project.created_date }}</h6></div>
</div>
<div class="row">
  <div class="col-md-12"><p>{{ project.summary }}</p></div>
</div>
<hr />
{% endfor %}
{% endblock %}