{% extends 'base.html' %}

{% block title %}{{ project.title }}{% endblock %}
{% block bodystyle %}class="profile-page"{% endblock %}
{% load staticfiles %}

{% block content %}
<div class="header header-filter" style="background-image: url('https://images.unsplash.com/photo-1444841461048-410031d44215?dpr=2&auto=format&fit=crop&w=1500&h=993&q=80&cs=tinysrgb&crop=');">

</div>
<div class="main main-raised">
  <div class="container">
    <a href="/projects/" class="btn btn-primary btn-sm"><i class="fa fa-arrow-circle-o-left"></i>   Back to all projects</a>
    <div class="section section-post">
    <h1 class="title">{{ project.title }}</h1>
    <h6 class="date">{{ project.created_date }}</h6>
    <p class="lead">{{ project.summary }}</p>
    <hr />
    {{ project.content|safe }}
  </div>
  <h6 class="small text-center">TAGS</h6>
  <ul class="tags">
    {% for tag in project.get_tag_list %}
    {% if tag %}<li><a href="/project/tag/{{ tag|slugify }}" class="btn btn-white btn-xs">{{ tag }}</a></li>{% endif %}
    {% endfor %}
  </ul>
  </div>
</div>

{% endblock %}
