{% load staticfiles %}
<!DOCTYPE html>
<head>
  <title>Sun</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <!-- Paper Kit -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/paper-kit.css' %}">
  <!-- My Stuff -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
</head>
<body>

  <div class="page-header" data-parallax="true" style="background-image: url('{% static 'img/ultraviolet.jpg' %}');">
    <div class="sun-over-area">
      <div class="sun" style="background-image: url('{% static 'img/sun.svg' %}')"></div>
    </div>
  </div>
</body>
